

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Sohne-Dreiviertelfett.woff2') format('woff2'),
        url('Sohne-Dreiviertelfett.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Sohne-Extrafett.woff2') format('woff2'),
        url('Sohne-Extrafett.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Sohne-Leicht.woff2') format('woff2'),
        url('Sohne-Leicht.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Sohne-Extraleicht.woff2') format('woff2'),
        url('Sohne-Extraleicht.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


