/* Webfonts */
@import "_fonts.css";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "_typography.css";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* Simple defaults */

html, body, body > div{
    height: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  @apply font-sohneHalbfett antialiased bg-lightBlue relative;
  

}


@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
  }

  .stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: currentColor;
  }


  .filter-none {
    filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .hero-font-size {
    @media (max-width: 425px) {
      font-size: 15px;
    }
  }
}